body{
    font-family: 'Open Sans', sans-serif;
}

.taitel1{
    display: flex;
    justify-content: space-between;
    margin: 0 400px;
}
.header{
    background: floralwhite;
}
.taital-dcr{
    width: 708px;
height: 506px;
flex-shrink: 0;
margin: 197px;

}
.shop-nowe{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: white;
}
.our-taitel{
    text-align: center;
    margin-top: 150px;


}
.Our{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 100px;
}
.bannar-paragar{
    font-size: 22px;
    font-weight: 400;

}
.bannar-img{
   justify-content: center;
    height: 605px;
    font-size: 56px;
    box-shadow: 44px;
    display: flex;


    
}
.img{
    padding: 25px;
    gap:24px;
    width: 564px;
    height: 538px;

border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.images-group{
padding: 140px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
text-align: center;
margin: 253px 0;


}
.png-images{ 
    width: 1090px;
height: 147px;
flex-shrink: 0;
}
c.pngwing{
    color: #272727;
text-align: center;

font-size: 24px;

font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.section{
    display: flex;
    background: floralwhite;
    justify-content: space-between;
    
}
.bannar-taitelhot{
text-align: center;
margin:;
}
.instagram{
  text-align: center;
  margin-top: 100px;

}
.Rectangle{
    text-align: center;
    gap: 20px;
}
.get{
    
    background-image: url('../images/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
    
}

